<!DOCTYPE html>
<html>
<head>
	<title>Titanic</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Reverse Word Search</a>
            </div>
        </div>
    </nav>
	<div class = "container" style = "margin: 25px auto; text-align: center;">
		<div class="jumbotron">
			<h1 class="display-4">Reverse Word Search App</h1>
			<p class="lead">A simple Flask App that gives the top 5 word match for a given query</p>
			<a class="btn btn-primary btn-lg" href="/predict" role="button">Search</a>
		</div>
	</div>
</body>

</html>