<!DOCTYPE html>
<html>
<head>
	<title>Predict</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Reverse Word Search</a>
            </div>
        </div>
    </nav>
	{% if output == 1 or output == 0: %}
	<div class = "container">
		<div class = "jumbotron">
			<h1>The prediction is {{ output }}</h1>
		</div>
	</div>
	{% endif %}
	<div class = "container">
		<form method = "POST" name = "Inputs" class="form-inline">
		  <label class="sr-only" for="name">Query</label>
		  <input type="text" class="form-control mb-2" id="name" placeholder="To love a lot" name="Name">
		  <button type="submit" class="btn btn-primary mb-2">Submit</button>
		</form>
	</div>
</body>

</html>